.app--full {
  height: 100%;
  width: 100%;
}

.app--loggedin {
  background-color: #F0F0F0;
}

.app-content {
  max-width: 640px;
  margin: 0 auto;
}

.app-content--full {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.app-content--small {
  max-width: 480px;
}

.btn {
  background-color: #1db954;
  border-radius: 500px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 48px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #1ed760;
}

.btn:focus {
  outline: none;
}